@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #d4d4d4;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.user-create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  padding: 0 20px;
}

.user-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgb(150, 201, 201);
  width: 90%;
  height: 90%;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 600;
  margin: 8px;
}

.input {
   padding: 10px;
  border-radius: 5px;
  border: 1px solid #818181;
  margin-bottom: 10px;
  background-color: #ffffff;
  width: 250px;
  text-align: center;
  background-color: rgb(248, 255, 235);
  outline: none;
}

.input:hover {
  border: 2px solid rgb(72, 206, 206);
  transform: scale(1.012);
  transition: all 0.3s ease-in-out;
}

.submit {
  padding: 8px;
  font-size: 16px;
  font-weight: 600;
  margin: 8px;
  width: 150px;
  align-self: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgb(206, 255, 255);
  cursor: pointer;
}

.submit:hover {
  outline: none;
  border: 1px solid rgb(72, 206, 206);
  background-color: rgb(72, 206, 206);
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}